/* JavaFX CSS  */

.root {
	-fx-background-color:#e1e8ed;
}

HBox{
	-fx-spacing:5;
	-fx-padding:5;	
}

VBox{
	-fx-padding:30 0 0 0;
}

#navPane {
	-fx-pref-width:200;
}

.table-view {
	-fx-min-width: 800;
	-fx-min-height:370 ;
}

.table-view .column-header .label {
	-fx-alignment:center-left;
}

.table-view .scroll-bar:horizontal * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.text-field {
	-fx-background-insets:1;
	-fx-padding:7;
	-fx-font-size:12;
}

.button {
	-fx-pref-width:120;
	    -fx-background-color: 
        #3c7fb1,
		#c9e8ff,
        linear-gradient(#e8f5ff 0%, #cfeaff 49%, #b8e0ff 50%, #a1d5ff 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 5 5 5 5;
    -fx-text-fill: #000000;
    -fx-font-size: 15;
}

.combo-box {
	-fx-pref-width: 200;
	-fx-padding:3;
	-fx-background-insets:2;
	-fx-font-size:13;
}

#outputLabel {
	-fx-font-size:17;
}